* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 50px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
nav {
  background-color: rgb(39, 38, 38);
}
nav .navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
}


nav .navbar a {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

nav .navbar .list {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}

#grid {
  background-color: rgb(39, 38, 38);
}

#grid .box {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top1 {
  height: 200px;
  background-color: rgb(39, 38, 38);
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.top2 {
  height: 50px;
  background-color: rgb(39, 38, 38);
  width: 500px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
h1 {
  font-size: 35px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
 .top1 p {
  font-size: 16px;
  text-align: center;
  color: rgb(151, 149, 149);
}
button {
  font-size: 20px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: rgb(39, 38, 38);
 border-color: white;
  color: white;
}
#box{
  background-color: white;
  border: 1px solid rgb(138, 136, 136);
}
#box .blok{
  padding: 150px 0px 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#box .blok .file1{
  height: 200px;
  width: 400px;
  background-color: white;
}
#box .blok .file2{
  height: 200px;
  width: 400px;
  background-color: white;
  
}
#box .blok .file3{
  height: 200px;
  width: 400px;
  background-color: white;
}
.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.border{
  color: rgb(89, 89, 196);
  margin-top: 10px;
}
.icon i{
  font-size: 40px;
  color: rgb(68, 68, 185);
}
.icon{
  margin-bottom: 10px;
}
.call{
  display: flex;
  align-items: center;/
}
.call i{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
  color: rgb(89, 89, 196);
}
.index{
  background-color: white;
  border: 1px solid rgb(185, 183, 183);
}
.file{
  padding: 60px 0px 10px 0px;
  background-color: white;
  text-align: center;
}
.file h3{
  font-size: 30px;
  margin-bottom: 10px;
}
.class1{
  font-size: 20px;
}
.left{
  background-color: white;
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close1{
  height: 550px;
  width: 400px;
  background-color: white;
  border: 1px solid rgb(105, 101, 101);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.close2{
  height: 550px;
  width: 400px;
  background-color: white;
  border: 1px solid rgb(105, 101, 101);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.close3{
  height: 550px;
  width: 400px;
  background-color: white;
  border: 1px solid rgb(105, 101, 101);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.icon1{
  color: rgb(123, 121, 121);
  font-size: 20px;
  display: flex;
  gap: 10px;
}
.list ul li .color{
  color: rgb(116, 116, 116);
}
.list ul li{
  display: flex;
  gap: 10px;
}
.list ul li i{
  color: rgb(82, 82, 214);
  font-size: 12px;
  margin-top: 10px;
}
.list ul li p{
  margin-top: 10px;
}
.list ul li h5{
  margin-top: 10px;
  font-size: 16px;
}
.number{
  display: flex;
  gap: 10px;
}
.number .color{
  margin-top: 30px;
}
.number h4{
  font-size: 50px;
}
.btn .box1{
  padding: 10px;
  background-color: white;
  width: 300px;
  color: rgb(128, 128, 223);
  border: 1px solid rgb(128, 128, 223);
}
.icon1 .html{
   color: black;
   margin-top: 20px;
}
.icon1 i{
  color: yellow;
   margin-top: 18px;
}
#new{
  background-color: white;
  border: 1px solid rgb(185, 183, 183);
}
.div{
  padding: 100px 0px 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.div .net{
  color: rgb(85, 83, 83);
  font-size: 20px;
  margin-bottom: 20px;
 
}
.div h3{
  font-size: 35px;
}
.div .map1 {
  height: 170px;
  width: 600px;
  background-color: white;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.text1 p{
  margin-top: 10px;
  font-size: 17px;
}
.text1 .no{
color: rgb(116, 116, 116);
margin-top: 10px;
}

.div .map2 {
  height: 200px;
  width: 600px;
  background-color: white;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icone i{
  font-size: 50px;
  margin-left: 20px;
  color: rgb(50, 50, 170);
}
#keep{
  background-color: white;
}
.input-keep{
  background-color: white;
  padding: 100px 0px 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.input{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
input{
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 600px;
 border-radius: 10px;
}
.bootstrap{
  height: 200px;
}
